### 1. Importando pacotes e bases utilizadas no merge

In [2]:
# Importando pacotes que serão utilizados

import basedosdados as bd
import pandas as pd

In [4]:
# importando base de dados "ncm"

ncm = pd.read_csv('ncm.csv')

ncm = ncm[['CO_NCM', 'NO_NCM_POR']]

ncm.head()

     CO_NCM                                         NO_NCM_POR
0  38085910  Outras mercadorias mencionadas na Nota de subp...
1  38085921  Mercadorias a base de metamidofos (ISO) ou mon...
2  38085922  Mercadorias a base de endossulfan (ISO), apres...
3  38085923  Mercadorias a base de alaclor (ISO), apresenta...
4  38085929  Mercadorias a base de outras substancias, apre...

In [5]:
# importando base de dados "urf"

urf = pd.read_csv('urf.csv', delimiter = ';')

urf.head()

   CO_URF        NO_URF.2
0  215200   MONTE DOURADO
1  220101     ITACOATIARA
2  510102        CAMACARI
3  130101   ALTO ARAGUAIA
4  812700   SAO SEBASTIAO

### 2. Importando bases de dados ncm_exportacao e ncm_importacao

In [5]:
# fazendo download da base de dados "ncm_exportacao"

ncm_exportacao = bd.read_table(dataset_id='br_me_comex_stat',
table_id='ncm_exportacao',
billing_project_id="projetoportfoliosql")

Downloading: 100%|█████████████████████████████████████████████████████| 25117781/25117781 [54:24<00:00, 7695.27rows/s]

In [6]:
ncm_exportacao.head()

,ano,mes,id_ncm,id_unidade,id_pais,sigla_uf_ncm,id_via,id_urf,quantidade_estatistica,peso_liquido_kg,valor_fob_dolar
0,2008,3,44123200,16,297,MA,1,217600,21,18000,13852
1,2008,3,44079990,16,845,ND,7,1015600,51,61677,34163
2,2008,3,44072990,16,573,PA,2,210200,194,209816,98313
3,2008,3,92099900,10,607,ZN,4,815500,0,0,43
4,2008,3,44072920,16,160,PA,2,210200,17,15752,15316

In [7]:
ncm_exportacao.iloc[:,0:11]

,ano,mes,id_ncm,id_unidade,id_pais,sigla_uf_ncm,id_via,id_urf,quantidade_estatistica,peso_liquido_kg,valor_fob_dolar
0,2008,3,44123200,16,297,MA,1,217600,21,18000,13852
1,2008,3,44079990,16,845,ND,7,1015600,51,61677,34163
2,2008,3,44072990,16,573,PA,2,210200,194,209816,98313
3,2008,3,92099900,10,607,ZN,4,815500,0,0,43
4,2008,3,44072920,16,160,PA,2,210200,17,15752,15316
...,...,...,...,...,...,...,...,...,...,...,...
25117776,2017,7,44101129,16,196,RS,1,1017700,616,397356,156035
25117777,2017,7,27101259,16,63,RS,1,1017700,9589165,12913288,5540418
25117778,2017,7,82013000,10,341,RS,1,1017700,29814,29814,62772
25117779,2017,7,84172000,11,345,RS,1,1017700,10,2669,16337
25117780,2017,7,59112090,10,249,RS,1,1017700,272,272,7300

In [8]:
ncm_exportacao['id_ncm']= ncm_exportacao['id_ncm'].astype(int)

ncm_exp_merge = df.merge(ncm, left_on = 'id_ncm', right_on = 'CO_NCM', how = 'inner')

In [9]:
ncm_exp_merge['id_urf']= ncm_exp_merge['id_urf'].astype(int)

ncm_exp_merge = ncm_exp_merge.merge(urf, left_on = 'id_urf', right_on = 'CO_URF', how = 'inner')

In [12]:
ncm_exp_merge = ncm_exp_merge.iloc[:,0:11]

In [13]:
ncm_exp_merge.to_csv('ncm_exportacao.csv', index = False)

In [6]:
# carregando base de dados "ncm_importacao"

ncm_importacao = bd.read_table(dataset_id='br_me_comex_stat',
table_id='ncm_importacao',
billing_project_id="projetoportfoliosql")

Downloading: 100%|███████████████████████████████████████████████████| 37212625/37212625 [1:20:45<00:00, 7680.56rows/s]

In [7]:
ncm_importacao.head()

,ano,mes,id_ncm,id_unidade,id_pais,sigla_uf_ncm,id_via,id_urf,quantidade_estatistica,peso_liquido_kg,valor_fob_dolar
0,2000,4,61059000,11,160,PR,1,917600,3587,717,10761
1,2000,11,84718014,11,628,PR,4,917700,115,58,17824
2,2000,11,35069900,10,23,PR,4,917700,100,100,617
3,2000,11,84733099,10,249,SC,4,927600,395,475,11488
4,2000,11,44079910,16,586,MS,7,145300,30,33000,4500

In [11]:
ncm_importacao['id_ncm']= ncm_importacao['id_ncm'].astype(int)

ncm_imp_merge_1 = ncm_importacao.merge(ncm, left_on = 'id_ncm', right_on = 'CO_NCM', how = 'inner')

In [13]:
ncm_imp_merge_1 = ncm_imp_merge_1.iloc[:,0:11]

ncm_imp_merge_1['id_urf']= ncm_imp_merge_1['id_urf'].astype(int)

ncm_imp_merge_2 = ncm_imp_merge_1.merge(urf, left_on = 'id_urf', right_on = 'CO_URF', how = 'inner')

In [14]:
ncm_imp_merge_2 = ncm_imp_merge_2.iloc[:,0:11]

In [15]:
ncm_imp_merge_2.to_csv('ncm_importacao.csv', index = False)