In [1]:
import basedosdados as bd

In [4]:
# carregando base de dados "ncm_exportacao"

df = bd.read_table(dataset_id='br_me_comex_stat',
table_id='ncm_exportacao',
billing_project_id="projetoportfoliosql")

Downloading: 100%|█████████████████████████████████████████████████████| 25117781/25117781 [56:18<00:00, 7433.79rows/s]

In [5]:
df.head()

,ano,mes,id_ncm,id_unidade,id_pais,sigla_uf_ncm,id_via,id_urf,quantidade_estatistica,peso_liquido_kg,valor_fob_dolar
0,2008,3,44123200,16,297,MA,1,217600,21,18000,13852
1,2008,3,44079990,16,845,ND,7,1015600,51,61677,34163
2,2008,3,44072990,16,573,PA,2,210200,194,209816,98313
3,2008,3,92099900,10,607,ZN,4,815500,0,0,43
4,2008,3,44072920,16,160,PA,2,210200,17,15752,15316

In [ ]:
df.to_csv('ncm_exportacao.csv', index = False)

In [ ]:
# carregando base de dados "ncm_importacao"

ncm_importacao = bd.read_table(dataset_id='br_me_comex_stat',
table_id='ncm_importacao',
billing_project_id="projetoportfoliosql")

In [ ]:
ncm_importacao.head()

In [ ]:
ncm_importacao.to_csv('ncm_importacao.csv', index = False)